#colorDiv {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #FF00FF;
}

html {
    background-color: #c0c0c0;
    background-image: url("../img/jb.jpg");
    background-position: center;
    background-repeat: repeat-y;
}

/*
2 es számrendszer: 01
3 as számrendzser: 012
10 es számrendszer: 0123456789
16 os számrendzser: 0123456789ABCDEF

255 (10) = FF (16)

(10) 255 = 2*100 + 5*10 + 5*1
(16) FF = F*16 + F*1= 15*16 + 15*1 = 255

rgb(255, 255,255) = #FFFFFF
*/