@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald-light";
    src: url("fonts/Oswald/Oswald-ExtraLight.ttf");
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Roboto&display=swap');

html
{
   
}

h1 {
    color: blue;
    font-family: 'Lemonada', cursive;
    text-align: justify; 
}

 
h3 {
    font-family: 'Roboto', sans-serif;
    text-align: justify; 
}

#bio-header {
    color: brown;
    }

#skill-header {
    color: coral;
}
.content {
    color:gray;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: normal;
    font-weight: lighter;
    margin: 10px 30px 0;
    border-top: solid 1px blue;
    padding: 10px 0 0 0;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: lightblue;
}

.img-div-light{
    background-color: aliceblue;
}

img {
    width: 200px;
    box-shadow: 3px 3px 7px black; 
    margin: 10px;
}